@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
body{
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    margin-left: 110px;
}
.header{
    display: flex;
    align-items: center;
    gap: 50px;
}
ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}
li a{
    font-family: 'Roboto';
    font-size: 14px;
    text-decoration: none;
    color: #ffffff50;
}
.venom{
    width: 1380px;
    z-index: 1;
}
h3{
    font-family: 'Roboto';
    font-size: 24px;
    color: #ffffffd2;
}
h1{
    color: #EFE8F4;
}
.img{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.venom_img{
    position: absolute;
    top: 0;
    right: 0;
}
.text{
    width: 423px;
    font-family: 'Roboto';
    color: #ffffffd2;
    padding-top: 41px;
    line-height: 150%;
}
.btn{
    padding-top: 70px;
    display: flex;
    align-items: center;
    gap: 51px;
}
.watch{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 205px;
    background-color: #ffffff;
    padding: 15px 30px;
    color: #8D0019;
    font-family: 'Roboto';
    border-radius: 5px;
    gap: 10px;
}
.bilet{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Roboto';
    color: #ffffff;
}
